Source: hdbench
Section: x11
Priority: optional
Maintainer: Yuuki NINOMIYA <gm@smn.enjoy.ne.jp>
Standards-Version: 2.4.0.0

Package: hdbench
Architecture: any
Depends: libglib1.2 (>= 1.2.0), libgtk1.2 (>= 1.2.0), ${shlibs:Depends}
Description: a graphical benchmark software
 HDBENCH clone is a graphical benchmark software like HDBENCH
 which is the most famous benchmark software for Windows in Japan.
 It measures the performance of CPU (integer, floating point),
 video (rectangle, circle, text, scroll, image) and disk (read, write).
